.jojo {
  width: 100%;
  /*background-color: black;*/
}
.jojo img {
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 200px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workshop {
  margin-top: 10px;
  margin-bottom: 50px;
}

.row img {
  max-height: 400px;
  width: auto;
  display: flex;
}
.pic {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pic2 {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: auto !important;
  width: auto;
}
.card-text ul {
  text-align: left;
}
